body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
}

.client-card {
    background: #e3f2fd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
}

button:hover {
    background: #0056b3;
}

fieldset{
    background: #e3f2fd;
    border: none;
    border-radius: 8px;
}